*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --font: Roboto, sans-serif;
  --textColor: #374961;
  --linkActiveColor: #41b783;
  --buttonColor: #af1e65;
  --backgroundWhite: #fff;
  --primaryColor: #fafafa;
  --primaryBlack: #3c414d;
  --borderColor: #ced4da;
  --dangerColor: #ff0000;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primaryColor);
  color: var(--primaryBlack);
  font-family:
    Francois One,
    Helvetica,
    Arial,
    sans-serif !important;
  font-size: 1.2rem;
}
